@import './reset-styles.scss';
@import './variables.scss';

body {
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
    color: #000;
}

.rounded {
    border-radius: $radius;
    
    &-lg {
        border-radius: $radius * 2;
    }
}


.d-flex {
    display: flex;
}

.list-item {
    display: block;
    position: relative;
    padding-left: 28px;

    &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background-color: var(--q-secondary);
        border-radius: 1000px;
        position: absolute;
        left: 0;
        top: 2px;
        transform: translateY(50%);
    }

    & + & {
        margin-top: 8px;
    }
}
