$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

@import "./quasar.variables.scss";
@import './fonts.scss';
@import "./container.scss";
@import "~quasar-styl";
@import '~quasar-addon-styl';
@import "~quasar-variables-styl";
