@import './variables.scss';
$flex-cols: 4;
@mixin col-gap($gutter) {
    .container > .row {
        margin-left: -$gutter;

        & > [class^=col-] {
            padding-left: $gutter;
        }
    }
}

.text-h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.text-h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    line-height: 100%;
}
.text-body1 {
    font-size: 20px;
    line-height: 135%;
    color: #101010;
}

.text-body2 {
    font-size: 15px;
    line-height: 180%;
    color: #101010;
}

@media (min-width: $breakpoint-xs) {
    @include col-gap(20px);
    $flex-cols: 6;
}

@media (min-width: $breakpoint-sm) { // 1024
    $flex-cols: 12;
}

@media (min-width: $breakpoint-md) { // 1440
    @include col-gap(40px);

    .text-h1 {
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
    }

    .text-h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
        line-height: 100%;
    }
    .text-body1 {
        font-weight: 400;
        font-size: 20px;
        line-height: 135%;
        color: #101010;
    }

    .text-body2 {
        font-weight: 400;
        font-size: 15px;
        line-height: 180%;
        color: #101010;
    }


}
@media (min-width: $breakpoint-lg) { // 1920
    @include col-gap(40px);
}
