$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1439px;
$breakpoint-lg: 1920px;
$flex-cols: 4;
@media (min-width: $breakpoint-xs) {
    $flex-cols: 6;
}

@media (min-width: $breakpoint-sm) { // 1024
    $flex-cols: 12;
}

@media (min-width: $breakpoint-md) { // 1440
    .text-h1 {
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
    }

    .text-h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
        line-height: 100%;
    }
    .text-body1 {
        font-weight: 400;
        font-size: 20px;
        line-height: 135%;
        color: #101010;
    }

    .text-body2 {
        font-weight: 400;
        font-size: 15px;
        line-height: 180%;
        color: #101010;
    }
}
@media (min-width: $breakpoint-lg) { // 1920
    // $flex-gutter-xs: ($space-base * .25);
    // $flex-gutter-sm: ($space-base * .5);
    // $flex-gutter-md: $space-base;
    // $flex-gutter-lg: ($space-base * 1.5);
    // $flex-gutter-xl: ($space-base * 3);
}
