$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1439px;
$breakpoint-lg: 1920px;

$radius: 8px;
$radius-lg: 16px;

@media (min-width: $breakpoint-sm) {
    $radius: 4px;
}

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 48px;
