.content {
  h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 32px;
  }

  p {
    font-size: 20px;
    font-style: normal;
    line-height: 135%;

    & + & {
      margin-top: 24px;
    }
  }

  stong,
  b {
    font-weight: bold;
  }

  ol,
  ul {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 135% */
  }

  ul {
    padding-left: 32px;
    list-style-type: disc;
  }

  ol {
    padding-left: 8px;
    list-style-type: decimal;
  }

  li {
  }
}
