@font-face {
  font-family: "Gogh";
  src: url("/fonts/Gogh-Bold.eot");
  src: local("Gogh Bold"), local("Gogh-Bold"),
    url("/fonts/Gogh-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Bold.woff2") format("woff2"),
    url("/fonts/Gogh-Bold.woff") format("woff"),
    url("/fonts/Gogh-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gogh";
  src: url("/fonts/Gogh-Black.eot");
  src: local("Gogh Black"), local("Gogh-Black"),
    url("/fonts/Gogh-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Black.woff2") format("woff2"),
    url("/fonts/Gogh-Black.woff") format("woff"),
    url("/fonts/Gogh-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gogh Book";
  src: url("/fonts/Gogh-Book.eot");
  src: local("Gogh Book"), local("Gogh-Book"),
    url("/fonts/Gogh-Book.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Book.woff2") format("woff2"),
    url("/fonts/Gogh-Book.woff") format("woff"),
    url("/fonts/Gogh-Book.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gogh";
  src: url("/fonts/Gogh-Regular.eot");
  src: local("Gogh Regular"), local("Gogh-Regular"),
    url("/fonts/Gogh-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Regular.woff2") format("woff2"),
    url("/fonts/Gogh-Regular.woff") format("woff"),
    url("/fonts/Gogh-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gogh";
  src: url("/fonts/Gogh-Heavy.eot");
  src: local("Gogh Heavy"), local("Gogh-Heavy"),
    url("/fonts/Gogh-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Heavy.woff2") format("woff2"),
    url("/fonts/Gogh-Heavy.woff") format("woff"),
    url("/fonts/Gogh-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gogh";
  src: url("/fonts/Gogh-Medium.eot");
  src: local("Gogh Medium"), local("Gogh-Medium"),
    url("/fonts/Gogh-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Medium.woff2") format("woff2"),
    url("/fonts/Gogh-Medium.woff") format("woff"),
    url("/fonts/Gogh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gogh";
  src: url("/fonts/Gogh-ExtraBold.eot");
  src: local("Gogh Extra Bold"), local("Gogh-ExtraBold"),
    url("/fonts/Gogh-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-ExtraBold.woff2") format("woff2"),
    url("/fonts/Gogh-ExtraBold.woff") format("woff"),
    url("/fonts/Gogh-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gogh Hairline";
  src: url("/fonts/Gogh-Hairline.eot");
  src: local("Gogh Hairline"), local("Gogh-Hairline"),
    url("/fonts/Gogh-Hairline.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Hairline.woff2") format("woff2"),
    url("/fonts/Gogh-Hairline.woff") format("woff"),
    url("/fonts/Gogh-Hairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Gogh";
  src: url("/fonts/Gogh-Light.eot");
  src: local("Gogh Light"), local("Gogh-Light"),
    url("/fonts/Gogh-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Light.woff2") format("woff2"),
    url("/fonts/Gogh-Light.woff") format("woff"),
    url("/fonts/Gogh-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gogh";
  src: url("/fonts/Gogh-Thin.eot");
  src: local("Gogh Thin"), local("Gogh-Thin"),
    url("/fonts/Gogh-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gogh-Thin.woff2") format("woff2"),
    url("/fonts/Gogh-Thin.woff") format("woff"),
    url("/fonts/Gogh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
