$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1439px;
$breakpoint-lg: 1920px;

$radius: 8px;
$radius-lg: 16px;

@media (min-width: $breakpoint-sm) {
  $radius: 4px;
}

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 48px;

// Colours
$blue: #0075eb !default;
$light-blue: #B8D4F0 !default;
$cian: #31ccec !default;
$green: #009900 !default;
$yellow: #f2c037 !default;
$light-yellow: #f2c037 !default;
$light-green: #21ba45 !default;
$black: #101010 !default;
$white: #fff !default;
$gray: #cccccc !default;
$light-gray: #E8E8E8 !default;
$red: #c10015 !default;
$light-red: #f52828 !default;

// used by dark mode
$dark-page: #121212 !default;
$dark: $black;

$positive: $light-green;
$negative: $red;
$error: $light-red;
$info: $cian;
$warning: $yellow;
$success: $green;
$danger: $light-yellow;
$primary: $black;
$white: $white;
$secondary: $gray;
$accent: $blue;
$primary-text: $black;
