$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1439px;
$breakpoint-lg: 1920px;

$radius: 8px;
$radius-lg: 16px;

@media (min-width: $breakpoint-sm) {
  $radius: 4px;
}

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 48px;

// Colours
$blue-950: #053f7b !default;
$blue-900: #094f96 !default;
$blue-800: #0b5daf !default;
$blue-700: #0d6bc9 !default;
$blue-600: #0075eb !default;
$blue-500: #4597e9 !default;
$blue-400: #5ca2e9 !default;
$blue-300: #73ade9 !default;
$blue-200: #a1c4e7 !default;
$blue-100: #cce3fb !default;

$gray-950: #0a0a0a !default;
$gray-900: #171717 !default;
$gray-800: #262626 !default;
$gray-700: #404040 !default;
$gray-600: #525252 !default;
$gray-500: #737373 !default;
$gray-400: #a3a3a3 !default;
$gray-300: #cccccc !default;
$gray-200: #e6e6e6 !default;
$gray-100: #f2f2f2 !default;

$red-950: #450a0a !default;
$red-900: #7f1d1d !default;
$red-800: #991b1b !default;
$red-700: #b91c1c !default;
$red-600: #dc2626 !default;
$red-500: #ef4444 !default;
$red-400: #f87171 !default;
$red-300: #fca5a5 !default;
$red-200: #fecaca !default;
$red-100: #fee2e2 !default;

$yellow-950: #422006 !default;
$yellow-900: #713f12 !default;
$yellow-800: #854d0e !default;
$yellow-700: #a16207 !default;
$yellow-600: #ca8a04 !default;
$yellow-500: #eab308 !default;
$yellow-400: #facc15 !default;
$yellow-300: #fde047 !default;
$yellow-200: #fef08a !default;
$yellow-100: #fef9c3 !default;

$green-950: #052e16 !default;
$green-900: #14532d !default;
$green-800: #166534 !default;
$green-700: #15803d !default;
$green-600: #16a34a !default;
$green-500: #22c55e !default;
$green-400: #4ade80 !default;
$green-300: #86efac !default;
$green-200: #bbf7d0 !default;
$green-100: #dcfce7 !default;

$blue: #0075eb !default;
$light-blue: #b8d4f0 !default;
$cornflower-blue: #499bed;
$cobalt: #0253a4;
$cian: #31ccec !default;
$yellow: #f2c037 !default;
$light-yellow: #ffd857 !default;
$black: #101010 !default;
$white: #fff !default;
$gray: #cccccc !default;
$light-gray: #e8e8e8 !default;
$red: #c10015 !default;
$light-red: #f97b7b !default;
$dark-page: #121212 !default;
$dark: $black;

$positive: $green-400;
$negative: $red;
$error: $light-red;
$info: $cian;
$warning: $yellow;
$success: $green-600;
$danger: $light-yellow;
$primary: $black;
$white: $white;
$secondary: $gray;
$accent: $blue-600;
$primary-text: $gray-900;

// FontSizes
$text: 20px;
$text-small: $md;
