$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1439px;
$breakpoint-lg: 1920px;

$radius: 8px;
$radius-lg: 16px;

@media (min-width: $breakpoint-sm) {
  $radius: 4px;
}

$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 48px;

$primary   : #101010 !default;
$secondary : #CCCCCC !default;
$accent    : #0075EB !default;

// used by dark mode
$dark-page : #121212 !default;
$dark      : #101010 !default;

$positive  : #21ba45 !default;
$negative  : #c10015 !default;
$info      : #31ccec !default;
$warning   : #f2c037 !default;
$success   : #009900 !default;
$danger   : #f2c037 !default;
$white   : #fff !default;
$black   : #000 !default;
